In [9]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [10]:
# Load the dataset
df = pd.read_csv('titanic.csv')

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
178,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
179,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
180,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
181,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
182,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [12]:
# Identify the categorical data
categorical_features = ['Sex', 'Embarked', 'Pclass']

In [13]:
# Implement an instance of the ColumnTransformer class
ct = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(), categorical_features)
    ], remainder='passthrough')

In [14]:
# Apply the fit_transform method on the instance of ColumnTransformer
X = ct.fit_transform(df)

In [15]:
X

array([[1.0, 0.0, 1.0, ..., 'PC 17599', 71.2833, 'C85'],
       [1.0, 0.0, 0.0, ..., '113803', 53.1, 'C123'],
       [0.0, 1.0, 0.0, ..., '17463', 51.8625, 'E46'],
       ...,
       [1.0, 0.0, 1.0, ..., '11767', 83.1583, 'C50'],
       [1.0, 0.0, 0.0, ..., '112053', 30.0, 'B42'],
       [0.0, 1.0, 1.0, ..., '111369', 30.0, 'C148']], dtype=object)

In [16]:
# Convert the output into a NumPy array
X = np.array(X)

In [17]:
X

array([[1.0, 0.0, 1.0, ..., 'PC 17599', 71.2833, 'C85'],
       [1.0, 0.0, 0.0, ..., '113803', 53.1, 'C123'],
       [0.0, 1.0, 0.0, ..., '17463', 51.8625, 'E46'],
       ...,
       [1.0, 0.0, 1.0, ..., '11767', 83.1583, 'C50'],
       [1.0, 0.0, 0.0, ..., '112053', 30.0, 'B42'],
       [0.0, 1.0, 1.0, ..., '111369', 30.0, 'C148']], dtype=object)

In [18]:
# Use LabelEncoder to encode binary categorical data
le = LabelEncoder()
y = le.fit_transform(df['Survived'])

In [19]:
# Print the updated matrix of features and the Independent variable vector
print("Updated matrix of features: \n", X)

Updated matrix of features:
 [[1.0 0.0 1.0 ... 'PC 17599' 71.2833 'C85']
 [1.0 0.0 0.0 ... '113803' 53.1 'C123']
 [0.0 1.0 0.0 ... '17463' 51.8625 'E46']
 ...
 [1.0 0.0 1.0 ... '11767' 83.1583 'C50']
 [1.0 0.0 0.0 ... '112053' 30.0 'B42']
 [0.0 1.0 1.0 ... '111369' 30.0 'C148']]

In [20]:
print("Updated dependent variable vector: \n", y)

Updated dependent variable vector:
 [1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1
 1 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1
 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 1 0 1 0 1 1 1 0 0 1 0 1 0 1 0 1 1 1 0 1 1
 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 1 1
 0 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1]